.navbar{
    background-color: #01141b !important;
}

.nav-link{
    color: #fcfdfe !important;
    font-weight: 400;
}

.exitButton{
    display: flex;
    width: 100%;
}

.logoNavBar{
    margin-left: 2vw;
    top: .5vh;
    width: 7vh;
    position: absolute;
    border-radius: 50%;
    display: flex;
    padding: 0;
    border: solid 2px #b1bcc2;
}

.exitButton:hover{
    cursor: pointer;
}

.notAdmin{
    display: none;
}

.isAdmin{
    display: list-item;
}

.navbar-nav{
    margin-left: 60%;
    display: flex;
}

.nav-item{
    margin-left: 3vw;
}

.nav-item:hover{
 cursor: pointer;
}


.dropDownNavBar{
   display: flex;
   flex-direction: column;
   position: fixed;
   background-color: #01141b;
   color: #fcfdfe;
   height: 10vh;
   width: 15vh;
   margin-top: 1.1vh;
   animation: dropdown .3s linear;
}


@keyframes dropdown {
    0%{
        height: 0;
        font-size: 0;
        color: transparent;
    }
    100%{
        height: 10vh;
    }
}


.dropDownNavBar>div{
    text-align: center;
    margin-top: 2vh; 
    height: 5vh;
    transition: all .3s;   
    font-weight: 300;
    padding-top: .6vh;
}

.dropDownNavBar>div:hover{
    background-color: #b1bcc2;
    color: #01141b;
}



