.welcomeContainer{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 color: #b1bcc2;
 height: 100vh;
 background: rgb(255,255,255);
 background: radial-gradient(circle, rgba(255,255,255,0) 10%, rgba(223,0,0,0) 50%, rgba(255,255,255,1) 90%);
}

.logoHome{
    width: 20vh;
    border-radius: 50%;
    margin-bottom: 5vh;
    animation: activePag ease-in-out 1s forwards;
}


.welcomeContainer>h1{
    background-color: #01141b;
    color:#fff;
    font-size: 1.5rem;
    animation: h1Welcome ease-in-out 1s forwards;   
    opacity: 0;
    padding: 10px;
    box-shadow: 2px 4px 19px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 19px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 19px 0px rgba(0,0,0,0.75);
}

@keyframes h1Welcome {
    0%{
        transform-origin: top center;
        transform: scaleY(0);
    }
    100%{
        transform-origin: top center;
        transform: scaleY(1);
        opacity: 1;
    }
}

.welcomeContainer>h3{
    font-size: 1.3rem;
    margin-top: 5vh;
    animation: activePag ease-in-out 1s forwards;
    opacity: 0;
    animation-delay: 1.5s;
    background-color: #fff;
    color: #01141b;
    padding: 10px;
    box-shadow: 2px 4px 19px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 19px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 19px 0px rgba(0,0,0,0.75);
}

.linkWelcome{
    margin-top: 5vh;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    border: solid 3px #01141b;
    background-color: #fff;
    color: #01141b;
    font-size: 3vh;
    border-radius: 25px;
    transition: all .5s;
    animation: activePag ease-in-out 1s forwards;
    opacity: 0;
    animation-delay: 1.5s; 
    box-shadow: 2px 4px 19px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 4px 19px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 19px 0px rgba(0,0,0,0.75);   
font-weight: 500;
padding: 10px;
}

.linkWelcome:hover{
    background-color: #01141b;  
    color: #fff;
    border: solid 3px #01141b;
    box-shadow: 2px 4px 19px 0px rgba(248, 247, 247, 0.75);
    -webkit-box-shadow: 2px 4px 19px 0px rgba(248, 247, 247, 0.75);
    -moz-box-shadow: 2px 4px 19px 0px rgba(248, 247, 247, 0.75);  
}

.coverImgWelcom{
    width: 95vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    position: absolute;
    animation: activePag .8s ease-in-out;
}


/* RESPONSIVE DESIGN */
@media
(width >= 600px) and (width <= 1200px){
    .coverImgWelcom{
        width: 100vw;
    }
}

@media
(width <= 600px) {
    .coverImgWelcom{
        width: 100vw;
    }
    .welcomeContainer>h1{
        font-size: 1.2rem;
        width: 80%;
        text-align: center;
    }
    .welcomeContainer>h3{
        font-size: 1.1rem;
        width: 80%;
        text-align: center;
    }
}